
<md-dialog ng-cloak>
  <form>
        <md-toolbar>
            <h1 class="md-toolbar-tools">Sélectionner la fiche reflexe à envoyer</h1>
        </md-toolbar>
        <md-dialog-content flex layout-padding>
            <md-content>
                <md-chips ng-model="selected" md-autocomplete-snap
                    md-transform-chip="transformChip($chip)"
                    md-require-match="autocompleteDemoRequireMatch"
                    md-on-remove="onRemove($chip)"
                    >
                    <md-autocomplete
                            md-selected-item="selected"
                            md-search-text="searchText"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item"
                            placeholder="Rechercher par mot clé">
                        <span md-highlight-text="searchText">{{item}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                        <strong>{{$chip}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </md-content>

            <md-content flex md-scroll-y>
                <md-list-item ng-repeat="f in selectedFiches" class="md-2-line">
                    <a target="_blank"><md-icon md-svg-src="visibility" class="md-avatar"></md-icon></a>
                    <div class="md-list-item-text" ng-click="selectAndExit(f)">
                        <h3>{{ f.name }}</h3>
                        <i>{{ f.keywords.join(", ") }}</i>
                    </div>
                </md-list-item>
            </md-content>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="closeDialog()" style="margin-right:20px;">
                Fermer
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


